---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.instructure.com/api/v1/accounts/41?access_token=4240~JdXebCtElIBHsTtITdcIZ4JSD6l6i9MlOej8CY288w88GbREWIdg4XI74m4UrlrP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"150868e6d7a65fc3e38bc1c1c38a6868"'
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000046;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1e;o=accounts;n=show;t=Account;i=41;b=1065972;m=1065972;u=0.14;y=0.01;d=0.06;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - 5a4f2b4c-c60c-48ab-a6cf-26c29c579c5c
      X-Request-Cost:
      - '0.19976782599998638'
      X-Request-Processor:
      - a01d815
      X-Session-Id:
      - eca5550e66b11e1d73d5b3b43597a23c
    body:
      encoding: ASCII-8BIT
      string: '{"id":41,"name":"Manually-Created Courses","parent_account_id":1,"root_account_id":1,"workflow_state":"active","default_storage_quota_mb":500,"default_user_storage_quota_mb":50,"default_group_storage_quota_mb":50,"default_time_zone":"America/Denver","sis_account_id":null,"sis_import_id":null,"integration_id":null}'
  recorded_at: Thu, 10 Sep 2015 16:08:35 GMT
recorded_with: VCR 2.9.3
