---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/accounts/39?access_token=4240~40Bxj0T7ovfNeNvoB9oLl6k480vIJbAbUA6HvLOit27Rbb74w06HY7zchj179woK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1a601e787a71675e5f63839c977a136e"'
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000051;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1b;o=accounts;n=show;t=Account;i=39;b=1046316;m=1046316;u=0.11;y=0.00;d=0.01;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - 954c3bdd-44d4-4f2d-878f-f698f6a00e69
      X-Request-Cost:
      - '0.12155640700001365'
      X-Request-Processor:
      - a023c27
      X-Session-Id:
      - 10c7e6598eb10a9f08dc032a63229055
    body:
      encoding: ASCII-8BIT
      string: '{"id":39,"name":"Aeries Continuation School","parent_account_id":1,"root_account_id":1,"workflow_state":"active","default_storage_quota_mb":500,"default_user_storage_quota_mb":50,"default_group_storage_quota_mb":50,"default_time_zone":"America/Denver","sis_account_id":"995","sis_import_id":61,"integration_id":null}'
  recorded_at: Tue, 11 Aug 2015 12:40:08 GMT
recorded_with: VCR 2.9.3
