---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/accounts/39/admins?access_token=4240~08TkpTBOhNE4SmyX4mKyXUVZGG76QyodFzc6AboUHRFwPYOdqKkkrM0rKcCyKUhY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3cf4ba8c2f5c5992d98a45dace533896"'
      Link:
      - <https://softservepartnership.test.instructure.com/api/v1/accounts/39/admins?page=1&per_page=10>;
        rel="current",<https://softservepartnership.test.instructure.com/api/v1/accounts/39/admins?page=1&per_page=10>;
        rel="first",<https://softservepartnership.test.instructure.com/api/v1/accounts/39/admins?page=1&per_page=10>;
        rel="last"
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000042;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1c;o=admins;n=index;t=Account;i=39;b=981028;m=981028;u=0.15;y=0.00;d=0.11;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - 1ab2f3c1-350b-4f46-b686-3191842888cc
      X-Request-Cost:
      - '0.25628574599986353'
      X-Request-Processor:
      - a023dbc
      X-Session-Id:
      - 00e1b7ec7d0b7603e961a66aa893ebcb
    body:
      encoding: ASCII-8BIT
      string: '[{"id":6,"role":"AccountAdmin","role_id":1,"user":{"id":2,"name":"divanov@softserveinc.com","sortable_name":"divanov@softserveinc.com","short_name":"divanov@softserveinc.com","sis_user_id":"isok","integration_id":null,"sis_login_id":"isok@softserveinc.com","sis_import_id":null,"login_id":"isok@softserveinc.com"}}]'
  recorded_at: Wed, 05 Aug 2015 09:05:24 GMT
recorded_with: VCR 2.9.3
