---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.instructure.com/api/v1/accounts/41/admins?access_token=4240~JdXebCtElIBHsTtITdcIZ4JSD6l6i9MlOej8CY288w88GbREWIdg4XI74m4UrlrP&page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"622d50c9eb4de92557144421e078225b"'
      Link:
      - <https://softservepartnership.instructure.com/api/v1/accounts/41/admins?page=1&per_page=100>;
        rel="current",<https://softservepartnership.instructure.com/api/v1/accounts/41/admins?page=1&per_page=100>;
        rel="first",<https://softservepartnership.instructure.com/api/v1/accounts/41/admins?page=1&per_page=100>;
        rel="last"
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000046;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1c;o=admins;n=index;t=Account;i=41;b=1133584;m=1133584;u=0.12;y=0.01;d=0.15;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - 3916d6e6-c3bf-4779-8932-9fad776b4511
      X-Request-Cost:
      - '0.2685519290000046'
      X-Request-Processor:
      - a01d3ed
      X-Session-Id:
      - 0b0197bd3a13db10815bde7c4104d6c3
    body:
      encoding: ASCII-8BIT
      string: '[{"id":13,"role":"AccountAdmin","role_id":1,"user":{"id":3400,"name":"Oleh
        Kolodii","sortable_name":"Kolodii, Oleh","short_name":"Oleh Kolodii","login_id":"okolod@softserveinc.com"}},{"id":14,"role":"AccountAdmin","role_id":1,"user":{"id":3780,"name":"admi.canvas@gmail.com","sortable_name":"admi.canvas@gmail.com","short_name":"admi.canvas@gmail.com","login_id":"admi.canvas@gmail.com"}}]'
  recorded_at: Thu, 10 Sep 2015 16:07:40 GMT
recorded_with: VCR 2.9.3
