---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/accounts/39/admins?access_token=4240~40Bxj0T7ovfNeNvoB9oLl6k480vIJbAbUA6HvLOit27Rbb74w06HY7zchj179woK&per_page=10000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3cf4ba8c2f5c5992d98a45dace533896"'
      Link:
      - <https://softservepartnership.test.instructure.com/api/v1/accounts/39/admins?page=1&per_page=100>;
        rel="current",<https://softservepartnership.test.instructure.com/api/v1/accounts/39/admins?page=1&per_page=100>;
        rel="first",<https://softservepartnership.test.instructure.com/api/v1/accounts/39/admins?page=1&per_page=100>;
        rel="last"
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000051;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1c;o=admins;n=index;t=Account;i=39;b=980704;m=980704;u=0.14;y=0.00;d=0.04;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - 19dfabae-a382-4761-b22c-d04e099b85b2
      X-Request-Cost:
      - '0.18299267600010005'
      X-Request-Processor:
      - a023dbc
      X-Session-Id:
      - dedbd6ac4e6b80ca2d022533140045d9
    body:
      encoding: ASCII-8BIT
      string: '[{"id":6,"role":"AccountAdmin","role_id":1,"user":{"id":2,"name":"divanov@softserveinc.com","sortable_name":"divanov@softserveinc.com","short_name":"divanov@softserveinc.com","sis_user_id":"isok","integration_id":null,"sis_login_id":"isok@softserveinc.com","sis_import_id":null,"login_id":"isok@softserveinc.com"}}]'
  recorded_at: Tue, 11 Aug 2015 12:40:07 GMT
recorded_with: VCR 2.9.3
