---
http_interactions:
- request:
    method: delete
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40/enrollments/20211?access_token=4240~08TkpTBOhNE4SmyX4mKyXUVZGG76QyodFzc6AboUHRFwPYOdqKkkrM0rKcCyKUhY&task=conclude
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3ed193d9b5e9293ecc5d58d30509af68"'
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000042;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1c;o=enrollments_api;n=destroy;t=Course;i=40;b=980268;m=980268;u=0.29;y=0.02;d=0.22;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - 19ebad8c-7952-493b-b09d-35a8beab0904
      X-Request-Cost:
      - '0.5120779529999919'
      X-Request-Processor:
      - a023dbc
      X-Session-Id:
      - 9a30a68c1e315584c880eaabec265865
    body:
      encoding: ASCII-8BIT
      string: '{"associated_user_id":null,"course_id":40,"course_section_id":935,"created_at":"2015-06-17T12:12:20Z","end_at":null,"id":20211,"limit_privileges_to_course_section":false,"root_account_id":1,"start_at":null,"type":"StudentEnrollment","updated_at":"2015-08-03T15:32:45Z","user_id":3334,"enrollment_state":"completed","role":"StudentEnrollment","role_id":3,"last_activity_at":"2015-07-07T12:43:44Z","total_activity_time":7428,"sis_import_id":null,"grades":{"html_url":"https://softservepartnership.test.instructure.com/courses/40/grades/3334","current_score":113.33,"final_score":113.33,"current_grade":null,"final_grade":null},"sis_course_id":"9950054","course_integration_id":null,"sis_section_id":null,"section_integration_id":null,"html_url":"https://softservepartnership.test.instructure.com/courses/40/users/3334"}'
  recorded_at: Mon, 03 Aug 2015 15:32:35 GMT
recorded_with: VCR 2.9.3
