---
http_interactions:
- request:
    method: delete
    uri: https://softservepartnership.instructure.com/api/v1/courses/943/enrollments/20371?access_token=4240~JdXebCtElIBHsTtITdcIZ4JSD6l6i9MlOej8CY288w88GbREWIdg4XI74m4UrlrP&task=conclude
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6ad2794792f68196c1661cd065bd8a37"'
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000046;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1b;o=enrollments_api;n=destroy;t=Course;i=943;b=1199104;m=1199104;u=0.13;y=0.01;d=0.07;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - b6e21610-1842-43d2-94d3-55a44014b497
      X-Request-Cost:
      - '0.20329848499999542'
      X-Request-Processor:
      - a01cdf8
      X-Session-Id:
      - 7b06299200463775ad26b369fa2fd671
    body:
      encoding: ASCII-8BIT
      string: '{"associated_user_id":null,"course_id":943,"course_section_id":973,"created_at":"2015-08-11T15:10:56Z","end_at":null,"id":20371,"limit_privileges_to_course_section":false,"root_account_id":1,"start_at":null,"type":"StudentEnrollment","updated_at":"2015-09-10T16:06:58Z","user_id":3379,"enrollment_state":"completed","role":"StudentEnrollment","role_id":3,"last_activity_at":"2015-09-04T07:54:28Z","total_activity_time":428,"sis_import_id":null,"grades":{"html_url":"https://softservepartnership.instructure.com/courses/943/grades/3379","current_score":64,"final_score":64,"current_grade":null,"final_grade":null},"sis_source_id":null,"sis_course_id":null,"course_integration_id":null,"sis_section_id":null,"section_integration_id":null,"html_url":"https://softservepartnership.instructure.com/courses/943/users/3379"}'
  recorded_at: Thu, 10 Sep 2015 16:06:59 GMT
recorded_with: VCR 2.9.3
