---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses?access_token=4240~40Bxj0T7ovfNeNvoB9oLl6k480vIJbAbUA6HvLOit27Rbb74w06HY7zchj179woK&per_page=10000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2f6026727c21371067ca36386f858ec1"'
      Link:
      - <https://softservepartnership.test.instructure.com/api/v1/courses?page=1&per_page=100>;
        rel="current",<https://softservepartnership.test.instructure.com/api/v1/courses?page=1&per_page=100>;
        rel="first",<https://softservepartnership.test.instructure.com/api/v1/courses?page=1&per_page=100>;
        rel="last"
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000051;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1b;o=courses;n=index;b=1046316;m=1046316;u=0.26;y=0.01;d=0.04;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - e428e1c3-7e73-4782-83ff-4ea46096841a
      X-Request-Cost:
      - '0.3046099699999909'
      X-Request-Processor:
      - a023c27
      X-Session-Id:
      - 03e21fb7ba78a950516d6d7e3ac71cff
    body:
      encoding: ASCII-8BIT
      string: '[{"account_id":41,"course_code":"Test Course Length","default_view":"feed","enrollment_term_id":1,"grading_standard_id":null,"id":941,"is_public":false,"name":"Test
        Course Length","start_at":null,"end_at":null,"public_syllabus":false,"storage_quota_mb":500,"is_public_to_auth_users":false,"apply_assignment_group_weights":false,"calendar":{"ics":"https://softservepartnership.test.instructure.com/feeds/calendars/course_qhKjBcwci4i4OvowidjMlpMJO7QlXvzMfZyAnAi3.ics"},"sis_course_id":null,"integration_id":null,"enrollments":[{"type":"teacher","role":"TeacherEnrollment","role_id":4,"enrollment_state":"active"}],"hide_final_grades":false,"workflow_state":"unpublished"},{"account_id":41,"course_code":"sdjaljl''","default_view":"feed","enrollment_term_id":1,"grading_standard_id":null,"id":936,"is_public":false,"name":"sdjaljl''
        nklxnf","start_at":null,"end_at":null,"public_syllabus":false,"storage_quota_mb":500,"is_public_to_auth_users":false,"apply_assignment_group_weights":false,"calendar":{"ics":"https://softservepartnership.test.instructure.com/feeds/calendars/course_8DkvwpVIxn2UjALSt5RPqJi9vIKPmudX3mMeGPOq.ics"},"sis_course_id":null,"[...]
