---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.instructure.com/api/v1/courses?access_token=4240~JdXebCtElIBHsTtITdcIZ4JSD6l6i9MlOej8CY288w88GbREWIdg4XI74m4UrlrP&page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6126286bb6bcbf33a26376a6f775f7cc"'
      Link:
      - <https://softservepartnership.instructure.com/api/v1/courses?page=1&per_page=100>;
        rel="current",<https://softservepartnership.instructure.com/api/v1/courses?page=1&per_page=100>;
        rel="first",<https://softservepartnership.instructure.com/api/v1/courses?page=1&per_page=100>;
        rel="last"
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000046;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1c;o=courses;n=index;b=1133104;m=1133104;u=0.21;y=0.02;d=0.02;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - c214122b-6f62-4b0e-b3eb-a47d8bc98e98
      X-Request-Cost:
      - '0.23296789300003637'
      X-Request-Processor:
      - a01d3ed
      X-Session-Id:
      - f0d824999540f176d9700001d42e9fa9
    body:
      encoding: ASCII-8BIT
      string: '[{"account_id":41,"course_code":"G","default_view":"feed","enrollment_term_id":1,"grading_standard_id":null,"id":994,"is_public":true,"name":"G
        integration","start_at":"2015-09-09T12:05:25Z","end_at":null,"public_syllabus":false,"storage_quota_mb":500,"is_public_to_auth_users":false,"apply_assignment_group_weights":false,"calendar":{"ics":"https://softservepartnership.instructure.com/feeds/calendars/course_ZyyHocjq0cLBuSMHuYrQoAP5l1QbXhzhrEWYitou.ics"},"sis_course_id":null,"integration_id":null,"enrollments":[{"type":"teacher","role":"TeacherEnrollment","role_id":4,"enrollment_state":"active"}],"hide_final_grades":false,"workflow_state":"available"},{"account_id":41,"course_code":"Presentation","default_view":"feed","enrollment_term_id":1,"grading_standard_id":null,"id":943,"is_public":false,"name":"Presentation
        Course","start_at":"2015-08-11T15:17:54Z","end_at":null,"public_syllabus":false,"storage_quota_mb":500,"is_public_to_auth_users":false,"apply_assignment_group_weights":false,"calendar":{"ics":"https://softservepartnership.instructure.com/feeds/calendars/course_dud6DkToxJ3wY4It7zRcdVG1ltwoID5FpxwkBtpD.ics"},"sis_[...]
