---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses?access_token=zhFiPxnVg728KKFpDHs4UEJvuqDooEQIeBBsEjR6mX5rQRGlSJv9vTIrKjj2KYuf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4eb4e57688e501ac1c025f7450a08428"'
      Link:
      - <https://softservepartnership.test.instructure.com/api/v1/courses?page=1&per_page=10>;
        rel="current",<https://softservepartnership.test.instructure.com/api/v1/courses?page=1&per_page=10>;
        rel="first",<https://softservepartnership.test.instructure.com/api/v1/courses?page=1&per_page=10>;
        rel="last"
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000041;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1c;o=courses;n=index;b=981900;m=981900;u=0.10;y=0.01;d=0.03;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - 849ca79d-0a6a-4249-87e3-9555b64bed7e
      X-Request-Cost:
      - '0.13417064699999431'
      X-Request-Processor:
      - a023d96
      X-Session-Id:
      - 36d2de7acb017c515e197ce0d4534cc1
    body:
      encoding: ASCII-8BIT
      string: '[{"account_id":41,"course_code":"test","default_view":"feed","enrollment_term_id":1,"id":9962,"is_public":false,"name":"test","start_at":null,"end_at":null,"public_syllabus":false,"storage_quota_mb":500,"is_public_to_auth_users":false,"apply_assignment_group_weights":false,"calendar":{"ics":"https://softservepartnership.test.instructure.com/feeds/calendars/course_aFNrG2yf2WGS8S8YyI3AzHEUNaP5Y5cE6GRvaxEj.ics"},"sis_course_id":null,"integration_id":null,"enrollments":[{"type":"teacher","role":"TeacherEnrollment","role_id":4,"enrollment_state":"active"}],"hide_final_grades":false,"workflow_state":"unpublished"}]'
  recorded_at: Wed, 08 Jul 2015 13:56:52 GMT
recorded_with: VCR 2.9.3
