---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.instructure.com/api/v1/courses/994?access_token=4240~JdXebCtElIBHsTtITdcIZ4JSD6l6i9MlOej8CY288w88GbREWIdg4XI74m4UrlrP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"09ccc30de6b001f46f07f089fe501038"'
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000046;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1c;o=courses;n=show;b=1133104;m=1133104;u=0.04;y=0.00;d=0.03;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - beb92557-1f4a-4350-a158-fa69d1fb7d49
      X-Request-Cost:
      - '0.06918380999996362'
      X-Request-Processor:
      - a01d3ed
      X-Session-Id:
      - dcbffcd82dde3f11b1a7dbb6dcd79393
    body:
      encoding: ASCII-8BIT
      string: '{"account_id":41,"course_code":"G","default_view":"feed","enrollment_term_id":1,"grading_standard_id":null,"id":994,"is_public":true,"name":"G
        integration","start_at":"2015-09-09T12:05:25Z","end_at":null,"public_syllabus":false,"storage_quota_mb":500,"is_public_to_auth_users":false,"hide_final_grades":false,"apply_assignment_group_weights":false,"calendar":{"ics":"https://softservepartnership.instructure.com/feeds/calendars/course_ZyyHocjq0cLBuSMHuYrQoAP5l1QbXhzhrEWYitou.ics"},"sis_course_id":null,"integration_id":null,"enrollments":[{"type":"teacher","role":"TeacherEnrollment","role_id":4,"enrollment_state":"active"}],"workflow_state":"available"}'
  recorded_at: Thu, 10 Sep 2015 15:28:00 GMT
recorded_with: VCR 2.9.3
