---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40?access_token=4240~40Bxj0T7ovfNeNvoB9oLl6k480vIJbAbUA6HvLOit27Rbb74w06HY7zchj179woK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c707d58619dc75adfa68620ebf53c56e"'
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000051;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1b;o=courses;n=show;b=1046316;m=1046316;u=0.10;y=0.01;d=0.02;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - 61b4fcb8-8ca5-4769-904a-2a9eebac23b0
      X-Request-Cost:
      - '0.11669316300002273'
      X-Request-Processor:
      - a023c27
      X-Session-Id:
      - 54375ffad77b3d02935bb7e63ae87265
    body:
      encoding: ASCII-8BIT
      string: '{"account_id":39,"course_code":"Mns Tennis","default_view":"feed","enrollment_term_id":1,"grading_standard_id":null,"id":40,"is_public":false,"name":"Mns
        Tennis","start_at":"2015-06-01T14:12:00Z","end_at":"2015-08-01T06:00:00Z","public_syllabus":false,"storage_quota_mb":500,"is_public_to_auth_users":false,"hide_final_grades":false,"apply_assignment_group_weights":false,"calendar":{"ics":"https://softservepartnership.test.instructure.com/feeds/calendars/course_HB0EhYCpxVJaffeL6RP5Q9GyomuFxdlgXGYtVupD.ics"},"sis_course_id":"9950054","integration_id":null,"enrollments":[{"type":"student","role":"StudentEnrollment","role_id":3,"enrollment_state":"active"}],"workflow_state":"available"}'
  recorded_at: Tue, 11 Aug 2015 12:39:53 GMT
recorded_with: VCR 2.9.3
