---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40?access_token=zhFiPxnVg728KKFpDHs4UEJvuqDooEQIeBBsEjR6mX5rQRGlSJv9vTIrKjj2KYuf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f0fba8e571f11fb51c26c6604afa7a72"'
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000041;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1b;o=courses;n=show;b=984156;m=984156;u=0.10;y=0.01;d=0.03;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - c09d76ee-11c6-4d34-8fde-3a8102b5b695
      X-Request-Cost:
      - '0.12683459400002273'
      X-Request-Processor:
      - a023c36
      X-Session-Id:
      - 6f1ccaae5ac3882466d534fe00726316
    body:
      encoding: ASCII-8BIT
      string: '{"account_id":39,"course_code":"9950054","default_view":"feed","enrollment_term_id":1,"id":40,"is_public":false,"name":"Mns
        Tennis","start_at":"2015-06-01T14:12:00Z","end_at":"2015-06-19T06:00:00Z","public_syllabus":false,"storage_quota_mb":500,"is_public_to_auth_users":false,"hide_final_grades":false,"apply_assignment_group_weights":false,"calendar":{"ics":"https://softservepartnership.test.instructure.com/feeds/calendars/course_HB0EhYCpxVJaffeL6RP5Q9GyomuFxdlgXGYtVupD.ics"},"sis_course_id":"9950054","integration_id":null,"enrollments":[],"workflow_state":"available"}'
  recorded_at: Wed, 08 Jul 2015 13:58:51 GMT
recorded_with: VCR 2.9.3
