---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses?access_token=zhFiPxnVg728KKFpDHs4UEJvuqDooEQIeBBsEjR6mX5rQRGlSJv9vTIrKjj2KYuf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e16e23bda0d1307b82666ef7a4dca109"'
      Link:
      - <https://softservepartnership.test.instructure.com/api/v1/courses?page=1&per_page=10>;
        rel="current",<https://softservepartnership.test.instructure.com/api/v1/courses?page=1&per_page=10>;
        rel="first",<https://softservepartnership.test.instructure.com/api/v1/courses?page=1&per_page=10>;
        rel="last"
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000041;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1c;o=courses;n=index;b=916508;m=916508;u=0.20;y=0.04;d=0.14;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - 495e272d-e4c3-49b1-9b5e-8300651ca582
      X-Request-Cost:
      - '0.34295584900004544'
      X-Request-Processor:
      - a023d96
      X-Session-Id:
      - b8dc1b7100b971b5f9f7d9694cf12fdf
    body:
      encoding: ASCII-8BIT
      string: '[{"account_id":39,"course_code":"9950054","default_view":"feed","enrollment_term_id":1,"id":40,"is_public":false,"name":"Mns
        Tennis","start_at":"2015-06-01T14:12:00Z","end_at":"2015-06-19T06:00:00Z","public_syllabus":false,"storage_quota_mb":500,"is_public_to_auth_users":false,"apply_assignment_group_weights":false,"calendar":{"ics":"https://softservepartnership.test.instructure.com/feeds/calendars/course_HB0EhYCpxVJaffeL6RP5Q9GyomuFxdlgXGYtVupD.ics"},"sis_course_id":"9950054","integration_id":null,"enrollments":[{"type":"student","role":"StudentEnrollment","role_id":3,"enrollment_state":"invited"}],"hide_final_grades":false,"workflow_state":"available"},{"account_id":41,"course_code":"test","default_view":"feed","enrollment_term_id":1,"id":9962,"is_public":false,"name":"test","start_at":null,"end_at":null,"public_syllabus":false,"storage_quota_mb":500,"is_public_to_auth_users":false,"apply_assignment_group_weights":false,"calendar":{"ics":"https://softservepartnership.test.instructure.com/feeds/calendars/course_aFNrG2yf2WGS8S8YyI3AzHEUNaP5Y5cE6GRvaxEj.ics"},"sis_course_id":null,"integration_id":null,"enrollments":[{"type":"teacher","role":"TeacherEnrollment","role_id":4,"enrollment_state":"active"}],"hide_final_grades":false,"workflow_state":"unpublished"}]'
  recorded_at: Thu, 16 Jul 2015 22:37:28 GMT
recorded_with: VCR 2.9.3
