---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40?access_token=zhFiPxnVg728KKFpDHs4UEJvuqDooEQIeBBsEjR6mX5rQRGlSJv9vTIrKjj2KYuf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a4f5f12a0ebaa6a6d4f172288c58b23b"'
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000041;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1b;o=courses;n=show;b=918624;m=918624;u=0.14;y=0.01;d=0.10;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - 7f864da0-d074-4c11-8f97-819be6173789
      X-Request-Cost:
      - '0.23759388999998637'
      X-Request-Processor:
      - a023c36
      X-Session-Id:
      - 79bb1e48a4b957e08066b7b1e7abf9f7
    body:
      encoding: ASCII-8BIT
      string: '{"account_id":39,"course_code":"9950054","default_view":"feed","enrollment_term_id":1,"id":40,"is_public":false,"name":"Mns
        Tennis","start_at":"2015-06-01T14:12:00Z","end_at":"2015-06-19T06:00:00Z","public_syllabus":false,"storage_quota_mb":500,"is_public_to_auth_users":false,"hide_final_grades":false,"apply_assignment_group_weights":false,"calendar":{"ics":"https://softservepartnership.test.instructure.com/feeds/calendars/course_HB0EhYCpxVJaffeL6RP5Q9GyomuFxdlgXGYtVupD.ics"},"sis_course_id":"9950054","integration_id":null,"enrollments":[{"type":"student","role":"StudentEnrollment","role_id":3,"enrollment_state":"invited"}],"workflow_state":"available"}'
  recorded_at: Thu, 16 Jul 2015 22:37:29 GMT
recorded_with: VCR 2.9.3
