---
http_interactions:
- request:
    method: post
    uri: https://softservepartnership.test.instructure.com/api/v1/conversations?access_token=4240~40Bxj0T7ovfNeNvoB9oLl6k480vIJbAbUA6HvLOit27Rbb74w06HY7zchj179woK&body=Test%20body&recipients%5B%5D=2&subject=Test%20subject
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1eba02468e47534c0b66fc3a8a6b633c"'
      Status:
      - 201 Created
      X-Canvas-Meta:
      - at=42400000000000051;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1b;o=conversations;n=create;b=911020;m=911020;u=0.37;y=0.02;d=0.16;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - 809ae689-c8a6-4f46-9989-f393d634e931
      X-Request-Cost:
      - '0.5311541060000009'
      X-Request-Processor:
      - a023c27
      X-Session-Id:
      - 8712bee6298e8586cf5b272db72bb38d
    body:
      encoding: ASCII-8BIT
      string: '[{"id":2,"subject":"test conversation","workflow_state":"read","last_message":null,"last_message_at":null,"last_authored_message":"Test
        body","last_authored_message_at":"2015-08-11T13:09:51Z","message_count":5,"subscribed":true,"private":true,"starred":false,"properties":["last_author"],"messages":[{"author_id":2,"body":"Test
        body","created_at":"2015-08-11T13:09:51Z","generated":false,"id":162,"forwarded_messages":[],"attachments":[],"media_comment":null,"participating_user_ids":[2]}],"audience":[],"audience_contexts":{"courses":{},"groups":{}},"avatar_url":"https://secure.gravatar.com/avatar/003f3ecc6fcd3322d3d147402a40e61e?s=50\u0026d=https%3A%2F%2Fcanvas.instructure.com%2Fimages%2Fmessages%2Favatar-50.png","participants":[{"id":2,"name":"divanov@softserveinc.com","common_courses":{},"common_groups":{},"avatar_url":"https://secure.gravatar.com/avatar/003f3ecc6fcd3322d3d147402a40e61e?s=50\u0026d=https%3A%2F%2Fcanvas.instructure.com%2Fimages%2Fmessages%2Favatar-50.png"}],"visible":false,"context_code":null}]'
  recorded_at: Tue, 11 Aug 2015 13:09:25 GMT
recorded_with: VCR 2.9.3
