---
http_interactions:
- request:
    method: post
    uri: https://softservepartnership.instructure.com/api/v1/conversations?access_token=4240~JdXebCtElIBHsTtITdcIZ4JSD6l6i9MlOej8CY288w88GbREWIdg4XI74m4UrlrP&body=Test%20body&recipients%5B%5D=2&subject=Test%20subject
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"107e1bd233b839830c8415966ddaf9b2"'
      Status:
      - 201 Created
      X-Canvas-Meta:
      - at=42400000000000046;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1e;o=conversations;n=create;b=1065964;m=1065964;u=0.18;y=0.01;d=0.20;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - 8307edf0-7fa2-4d85-b291-0ea9f1ff0d7b
      X-Request-Cost:
      - '0.3808840220000068'
      X-Request-Processor:
      - a01d8fa
      X-Session-Id:
      - c0f0cd1713694a2fc216cf8d940e776c
    body:
      encoding: ASCII-8BIT
      string: '[{"id":2,"subject":"test conversation","workflow_state":"read","last_message":null,"last_message_at":null,"last_authored_message":"Test
        body","last_authored_message_at":"2015-09-10T16:09:14Z","message_count":69,"subscribed":true,"private":true,"starred":false,"properties":["last_author"],"messages":[{"author_id":2,"body":"Test
        body","created_at":"2015-09-10T16:09:14Z","generated":false,"id":3969,"forwarded_messages":[],"attachments":[],"media_comment":null,"participating_user_ids":[2]}],"audience":[],"audience_contexts":{"courses":{},"groups":{}},"avatar_url":"https://secure.gravatar.com/avatar/003f3ecc6fcd3322d3d147402a40e61e?s=50\u0026d=https%3A%2F%2Fcanvas.instructure.com%2Fimages%2Fmessages%2Favatar-50.png","participants":[{"id":2,"name":"divanov@softserveinc.com","common_courses":{},"common_groups":{},"avatar_url":"https://secure.gravatar.com/avatar/003f3ecc6fcd3322d3d147402a40e61e?s=50\u0026d=https%3A%2F%2Fcanvas.instructure.com%2Fimages%2Fmessages%2Favatar-50.png"}],"visible":false,"context_code":null}]'
  recorded_at: Thu, 10 Sep 2015 16:09:15 GMT
recorded_with: VCR 2.9.3
