---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.instructure.com/api/v1/courses/40/enrollments?access_token=4240~JdXebCtElIBHsTtITdcIZ4JSD6l6i9MlOej8CY288w88GbREWIdg4XI74m4UrlrP&page=1&per_page=100&type=StudentEnrollment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5bb6f9a91c847526a20a47d81b6a18aa"'
      Link:
      - <https://softservepartnership.instructure.com/api/v1/courses/40/enrollments?type=StudentEnrollment&page=1&per_page=100>;
        rel="current",<https://softservepartnership.instructure.com/api/v1/courses/40/enrollments?type=StudentEnrollment&page=1&per_page=100>;
        rel="first",<https://softservepartnership.instructure.com/api/v1/courses/40/enrollments?type=StudentEnrollment&page=1&per_page=100>;
        rel="last"
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000046;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1c;o=enrollments_api;n=index;t=Course;i=40;b=1131496;m=1131496;u=0.26;y=0.01;d=0.24;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - fd2bdfd3-23ec-4d98-b096-28d6e99bab21
      X-Request-Cost:
      - '0.49831507500001926'
      X-Request-Processor:
      - a01d395
      X-Session-Id:
      - d5259d988e35bf57dbce54bc451687ea
    body:
      encoding: ASCII-8BIT
      string: '[{"associated_user_id":null,"course_id":40,"course_section_id":945,"created_at":"2015-07-30T04:14:26Z","end_at":null,"id":20286,"limit_privileges_to_course_section":false,"root_account_id":1,"start_at":null,"type":"StudentEnrollment","updated_at":"2015-08-11T14:31:57Z","user_id":3397,"enrollment_state":"active","role":"StudentEnrollment","role_id":3,"last_activity_at":"2015-07-31T08:31:50Z","total_activity_time":482,"sis_import_id":null,"grades":{"html_url":"https://softservepartnership.instructure.com/courses/40/grades/3397","current_score":null,"final_score":0,"current_grade":null,"final_grade":null},"sis_source_id":null,"sis_course_id":"9950054","course_integration_id":null,"sis_section_id":null,"section_integration_id":null,"html_url":"https://softservepartnership.instructure.com/courses/40/users/3397","user":{"id":3397,"name":"bandrik+Student12@gmail.com","sortable_name":"bandrik+Student12@gmail.com","short_name":"bandrik+Student12@gmail.com","login_id":"bandrik+Student12@gmail.com"}},{"associated_user_id":null,"course_id":40,"course_section_id":945,"created_at":"2015-07-30T07:48:05Z","end_at":null,"id":20292,"limit_privileges_to_course_section":false,"root_account_id":1,"start_at":null,"type":"StudentEnrollment","updated_at":"2015-08-11T14:31:57Z","user_id":3398,"enrollment_state":"active","role":"StudentEnrollment","role_id":3,"last_activity_at":"2015-08-10T14:30:31Z","total_activity_time":0,"sis_import_id":null,"grades":{"html_url":"https://[...]
