---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.instructure.com/api/v1/accounts/1/enrollments/20371?access_token=4240~JdXebCtElIBHsTtITdcIZ4JSD6l6i9MlOej8CY288w88GbREWIdg4XI74m4UrlrP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ab4644e995caea91cc6349f6048f1b26"'
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000046;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1e;o=enrollments_api;n=show;t=Account;i=1;b=1133696;m=1133696;u=0.06;y=0.00;d=0.04;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - c29d39fd-6712-402e-9ef7-4fd43ccdd357
      X-Request-Cost:
      - '0.09987485900000227'
      X-Request-Processor:
      - a01d8fa
      X-Session-Id:
      - a2cb55144955bc88eefa87eb663a9f2d
    body:
      encoding: ASCII-8BIT
      string: '{"associated_user_id":null,"course_id":943,"course_section_id":973,"created_at":"2015-08-11T15:10:56Z","end_at":null,"id":20371,"limit_privileges_to_course_section":false,"root_account_id":1,"start_at":null,"type":"StudentEnrollment","updated_at":"2015-08-19T11:23:02Z","user_id":3379,"enrollment_state":"active","role":"StudentEnrollment","role_id":3,"last_activity_at":"2015-09-04T07:54:28Z","total_activity_time":428,"sis_import_id":null,"grades":{"html_url":"https://softservepartnership.instructure.com/courses/943/grades/3379","current_score":64,"final_score":64,"current_grade":null,"final_grade":null},"sis_source_id":null,"sis_course_id":null,"course_integration_id":null,"sis_section_id":null,"section_integration_id":null,"html_url":"https://softservepartnership.instructure.com/courses/943/users/3379"}'
  recorded_at: Thu, 10 Sep 2015 15:58:50 GMT
recorded_with: VCR 2.9.3
