---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.instructure.com/api/v1/courses/943/enrollments?access_token=4240~JdXebCtElIBHsTtITdcIZ4JSD6l6i9MlOej8CY288w88GbREWIdg4XI74m4UrlrP&page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"259831f4795314fa492a72b5e929ffe1"'
      Link:
      - <https://softservepartnership.instructure.com/api/v1/courses/943/enrollments?page=1&per_page=100>;
        rel="current",<https://softservepartnership.instructure.com/api/v1/courses/943/enrollments?page=1&per_page=100>;
        rel="first",<https://softservepartnership.instructure.com/api/v1/courses/943/enrollments?page=1&per_page=100>;
        rel="last"
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000046;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1e;o=enrollments_api;n=index;t=Course;i=943;b=1131500;m=1131500;u=0.23;y=0.01;d=0.07;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - be5bce54-202e-4ef5-9641-c47cc5760b0a
      X-Request-Cost:
      - '0.30077125799996135'
      X-Request-Processor:
      - a01d8fa
      X-Session-Id:
      - 81d2c66cda6189821466e75a39360a66
    body:
      encoding: ASCII-8BIT
      string: '[{"associated_user_id":null,"course_id":943,"course_section_id":973,"created_at":"2015-08-11T15:10:56Z","end_at":null,"id":20371,"limit_privileges_to_course_section":false,"root_account_id":1,"start_at":null,"type":"StudentEnrollment","updated_at":"2015-08-19T11:23:02Z","user_id":3379,"enrollment_state":"active","role":"StudentEnrollment","role_id":3,"last_activity_at":"2015-09-04T07:54:28Z","total_activity_time":428,"sis_import_id":null,"grades":{"html_url":"https://softservepartnership.instructure.com/courses/943/grades/3379","current_score":64,"final_score":64,"current_grade":null,"final_grade":null},"sis_source_id":null,"sis_course_id":null,"course_integration_id":null,"sis_section_id":null,"section_integration_id":null,"html_url":"https://softservepartnership.instructure.com/courses/943/users/3379","user":{"id":3379,"name":"Student1","sortable_name":"Student1","short_name":"Student1","sis_user_id":"123","integration_id":null,"sis_login_id":"bandrik+Student1@gmail.com","sis_import_id":null,"login_id":"bandrik+Student1@gmail.com"}},{"associated_user_id":null,"course_id":943,"course_section_id":973,"created_at":"2015-08-11T15:11:06Z","end_at":null,"id":20372,"limit_privileges_to_course_section":false,"root_account_id":1,"start_at":null,"type":"StudentEnrollment","updated_at":"2015-08-19T08:46:21Z","user_id":3380,"enrollment_state":"active","role":"StudentEnrollment","role_id":3,"last_activity_at":"2015-08-11T15:31:42Z","total_activity_time":0,"sis_import_id":null,"grades":{"html_url":"https://[...]
