---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40/enrollments?access_token=zhFiPxnVg728KKFpDHs4UEJvuqDooEQIeBBsEjR6mX5rQRGlSJv9vTIrKjj2KYuf&type=StudentEnrollment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f4bea63d6e79ed48ddc5cd507065a089"'
      Link:
      - <https://softservepartnership.test.instructure.com/api/v1/courses/40/enrollments?type=StudentEnrollment&page=1&per_page=10>;
        rel="current",<https://softservepartnership.test.instructure.com/api/v1/courses/40/enrollments?type=StudentEnrollment&page=1&per_page=10>;
        rel="first",<https://softservepartnership.test.instructure.com/api/v1/courses/40/enrollments?type=StudentEnrollment&page=1&per_page=10>;
        rel="last"
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000041;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1c;o=enrollments_api;n=index;t=Course;i=40;b=982044;m=982044;u=0.28;y=0.01;d=0.06;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - a470cb67-a7c9-4d15-a539-becf31c35bc0
      X-Request-Cost:
      - '0.3382138049999727'
      X-Request-Processor:
      - a023d96
      X-Session-Id:
      - e38bee4119fe3fe7bc865121d564c28c
    body:
      encoding: ASCII-8BIT
      string: '[{"associated_user_id":null,"course_id":40,"course_section_id":935,"created_at":"2015-07-15T11:16:48Z","end_at":null,"id":25428,"limit_privileges_to_course_section":false,"root_account_id":1,"start_at":null,"type":"StudentEnrollment","updated_at":"2015-07-16T17:45:50Z","user_id":5959,"enrollment_state":"invited","role":"StudentEnrollment","role_id":3,"last_activity_at":null,"total_activity_time":0,"sis_import_id":null,"grades":{"html_url":"https://softservepartnership.test.instructure.com/courses/40/grades/5959","current_score":null,"final_score":0,"current_grade":null,"final_grade":null},"sis_course_id":"9950054","course_integration_id":null,"sis_section_id":null,"section_integration_id":null,"html_url":"https://softservepartnership.test.instructure.com/courses/40/users/5959","user":{"id":5959,"name":"andriysolonyna@gmail.com","sortable_name":"andriysolonyna@gmail.com","short_name":"andriysolonyna@gmail.com"}},{"associated_user_id":null,"course_id":40,"course_section_id":935,"created_at":"2015-07-08T18:41:38Z","end_at":null,"id":25386,"limit_privileges_to_course_section":false,"root_account_id":1,"start_at":null,"type":"StudentEnrollment","updated_at":"2015-07-16T17:45:50Z","user_id":2,"enrollment_state":"invited","role":"StudentEnrollment","role_id":3,"last_activity_at":"2015-07-16T22:37:31Z","total_activity_time":119513,"sis_import_id":null,"grades":{"html_url":"https://softservepartnership.test.instructure.com/courses/40/grades/2","current_score":null,"final_score":0,"current_grade":null,"final_grade":null},"sis_course_id":"9950054","course_integration_id":null,"sis_section_id":null,"section_integration_id":null,"html_url":"https://softservepartnership.test.instructure.com/courses/40/users/2","user":{"id":2,"name":"divanov@softserveinc.com","sortable_name":"divanov@softserveinc.com","short_name":"divanov@softserveinc.com","sis_user_id":"isok","integration_id":null,"sis_login_id":"isok@softserveinc.com","sis_import_id":null,"login_id":"isok@softserveinc.com"}},{"associated_user_id":null,"course_id":40,"course_section_id":1371,"created_at":"2015-07-07T14:44:12Z","end_at":null,"id":25384,"limit_privileges_to_course_section":false,"root_account_id":1,"start_at":null,"type":"StudentEnrollment","updated_at":"2015-07-16T17:45:50Z","user_id":3334,"enrollment_state":"invited","role":"StudentEnrollment","role_id":3,"last_activity_at":null,"total_activity_time":0,"sis_import_id":null,"grades":{"html_url":"https://softservepartnership.t[...]
