---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40/enrollments?access_token=4240~40Bxj0T7ovfNeNvoB9oLl6k480vIJbAbUA6HvLOit27Rbb74w06HY7zchj179woK&per_page=10000&type=StudentEnrollment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ba4fbd5f67e64a7df512ad2ab478c0a4"'
      Link:
      - <https://softservepartnership.test.instructure.com/api/v1/courses/40/enrollments?type=StudentEnrollment&page=1&per_page=100>;
        rel="current",<https://softservepartnership.test.instructure.com/api/v1/courses/40/enrollments?type=StudentEnrollment&page=1&per_page=100>;
        rel="first",<https://softservepartnership.test.instructure.com/api/v1/courses/40/enrollments?type=StudentEnrollment&page=1&per_page=100>;
        rel="last"
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000051;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1b;o=enrollments_api;n=index;t=Course;i=40;b=1046316;m=1046316;u=0.50;y=0.02;d=0.06;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - 8452691a-d576-4788-b00b-ec653148ca61
      X-Request-Cost:
      - '0.555745129'
      X-Request-Processor:
      - a023c27
      X-Session-Id:
      - 55d421521657226a3f906434bc93be34
    body:
      encoding: ASCII-8BIT
      string: '[{"associated_user_id":null,"course_id":40,"course_section_id":945,"created_at":"2015-07-30T04:14:26Z","end_at":null,"id":20286,"limit_privileges_to_course_section":false,"root_account_id":1,"start_at":null,"type":"StudentEnrollment","updated_at":"2015-08-06T11:52:49Z","user_id":3397,"enrollment_state":"active","role":"StudentEnrollment","role_id":3,"last_activity_at":"2015-07-31T08:31:50Z","total_activity_time":482,"sis_import_id":null,"grades":{"html_url":"https://softservepartnership.test.instructure.com/courses/40/grades/3397","current_score":null,"final_score":0,"current_grade":null,"final_grade":null},"sis_course_id":"9950054","course_integration_id":null,"sis_section_id":null,"section_integration_id":null,"html_url":"https://softservepartnership.test.instructure.com/courses/40/users/3397","user":{"id":3397,"name":"bandrik+Student12@gmail.com","sortable_name":"bandrik+Student12@gmail.com","short_name":"bandrik+Student12@gmail.com","login_id":"bandrik+Student12@gmail.com"}},{"associated_user_id":null,"course_id":40,"course_section_id":945,"created_at":"2015-07-30T07:48:05Z","end_at":null,"id":20292,"limit_privileges_to_course_section":false,"root_account_id":1,"start_at":null,"type":"StudentEnrollment","updated_at":"2015-08-06T11:52:49Z","user_id":3398,"enrollment_state":"active","role":"StudentEnrollment","role_id":3,"last_activity_at":"2015-07-30T08:06:09Z","total_activity_time":0,"sis_import_id":null,"grades":{"html_url":"https://[...]
