---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40/enrollments?access_token=4240~40Bxj0T7ovfNeNvoB9oLl6k480vIJbAbUA6HvLOit27Rbb74w06HY7zchj179woK&per_page=10000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6f852102ec7ee3fcf336ab0c254f61a4"'
      Link:
      - <https://softservepartnership.test.instructure.com/api/v1/courses/40/enrollments?page=1&per_page=100>;
        rel="current",<https://softservepartnership.test.instructure.com/api/v1/courses/40/enrollments?page=1&per_page=100>;
        rel="first",<https://softservepartnership.test.instructure.com/api/v1/courses/40/enrollments?page=1&per_page=100>;
        rel="last"
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000051;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1b;o=enrollments_api;n=index;t=Course;i=40;b=1046316;m=1046316;u=0.88;y=0.04;d=0.09;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - a8961579-d5d1-4ad6-b8e1-a5c60bf47438
      X-Request-Cost:
      - '0.9709676209999955'
      X-Request-Processor:
      - a023c27
      X-Session-Id:
      - c42c0240b06f310b2557088ef749d14f
    body:
      encoding: ASCII-8BIT
      string: '[{"associated_user_id":3371,"course_id":40,"course_section_id":935,"created_at":"2015-07-28T23:11:42Z","end_at":null,"id":20270,"limit_privileges_to_course_section":false,"root_account_id":1,"start_at":null,"type":"ObserverEnrollment","updated_at":"2015-07-31T17:04:35Z","user_id":170000004596795,"enrollment_state":"active","role":"ObserverEnrollment","role_id":7,"last_activity_at":"2015-08-08T01:00:23Z","total_activity_time":5121,"sis_import_id":null,"sis_course_id":"9950054","course_integration_id":null,"sis_section_id":null,"section_integration_id":null,"html_url":"https://softservepartnership.test.instructure.com/courses/40/users/170000004596795","user":{"id":170000004596795,"name":"Trevor
        Burnett","sortable_name":"Burnett, Trevor","short_name":"Trevor Burnett","login_id":"tjburnett"}},{"associated_user_id":null,"course_id":40,"course_section_id":935,"created_at":"2015-07-28T23:11:20Z","end_at":null,"id":20269,"limit_privileges_to_course_section":false,"root_account_id":1,"start_at":null,"type":"ObserverEnrollment","updated_at":"2015-07-29T15:30:44Z","user_id":170000004596795,"enrollment_state":"active","role":"ObserverEnrollment","role_id":7,"last_activity_at":"2015-08-08T01:00:23Z","total_activity_time":5121,"sis_import_id":null,"sis_course_id":"9950054","cours[...]
