---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40/enrollments?access_token=zhFiPxnVg728KKFpDHs4UEJvuqDooEQIeBBsEjR6mX5rQRGlSJv9vTIrKjj2KYuf&type=StudentEnrollment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ee93416c7627fba29399b8809961c205"'
      Link:
      - <https://softservepartnership.test.instructure.com/api/v1/courses/40/enrollments?type=StudentEnrollment&page=1&per_page=10>;
        rel="current",<https://softservepartnership.test.instructure.com/api/v1/courses/40/enrollments?type=StudentEnrollment&page=1&per_page=10>;
        rel="first",<https://softservepartnership.test.instructure.com/api/v1/courses/40/enrollments?type=StudentEnrollment&page=1&per_page=10>;
        rel="last"
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000041;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1b;o=enrollments_api;n=index;t=Course;i=40;b=918620;m=918620;u=0.28;y=0.01;d=0.10;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - e569661a-38d0-4140-ac5b-8199565255a7
      X-Request-Cost:
      - '0.3807689329999727'
      X-Request-Processor:
      - a023c36
      X-Session-Id:
      - aae9cc04d3fef4f7809f93982c7045c2
    body:
      encoding: ASCII-8BIT
      string: '[{"associated_user_id":null,"course_id":40,"course_section_id":935,"created_at":"2015-07-08T18:41:38Z","end_at":null,"id":25386,"limit_privileges_to_course_section":false,"root_account_id":1,"start_at":null,"type":"StudentEnrollment","updated_at":"2015-07-08T18:41:38Z","user_id":2,"enrollment_state":"invited","role":"StudentEnrollment","role_id":3,"last_activity_at":"2015-07-09T11:58:56Z","total_activity_time":33407,"sis_import_id":null,"grades":{"html_url":"https://softservepartnership.test.instructure.com/courses/40/grades/2","current_score":null,"final_score":null,"current_grade":null,"final_grade":null},"sis_course_id":"9950054","course_integration_id":null,"sis_section_id":null,"section_integration_id":null,"html_url":"https://softservepartnership.test.instructure.com/courses/40/users/2","user":{"id":2,"name":"divanov@softserveinc.com","sortable_name":"divanov@softserveinc.com","short_name":"divanov@softserveinc.com","sis_user_id":"isok","integration_id":null,"sis_login_id":"isok@softserveinc.com","sis_import_id":null,"login_id":"isok@softserveinc.com"}},{"associated_user_id":null,"course_id":40,"course_section_id":1371,"created_at":"2015-07-07T14:44:12Z","end_at":null,"id":25384,"limit_privileges_to_course_section":false,"root_account_id":1,"start_at":null,"type":"StudentEnrollment","updated_at":"2015-07-07T14:44:12Z","user_id":3334,"enrollment_state":"invited","role":"StudentEnrollment","role_id":3,"last_activity_at":null,"total_activity_time":0,"sis_import_id":null,"grades":{"html_url":"https://softservepartnership.t[...]
