---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.instructure.com/api/v1/courses/40/enrollments?access_token=4240~JdXebCtElIBHsTtITdcIZ4JSD6l6i9MlOej8CY288w88GbREWIdg4XI74m4UrlrP&page=1&per_page=100&type=TeacherEnrollment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9a8b377756f2ab86cb4a72d012bab434"'
      Link:
      - <https://softservepartnership.instructure.com/api/v1/courses/40/enrollments?type=TeacherEnrollment&page=1&per_page=100>;
        rel="current",<https://softservepartnership.instructure.com/api/v1/courses/40/enrollments?type=TeacherEnrollment&page=1&per_page=100>;
        rel="first",<https://softservepartnership.instructure.com/api/v1/courses/40/enrollments?type=TeacherEnrollment&page=1&per_page=100>;
        rel="last"
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000046;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1e;o=enrollments_api;n=index;t=Course;i=40;b=983704;m=983704;u=0.15;y=0.00;d=0.08;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - 6de5ecb5-c03f-437c-80d1-dead54c1a980
      X-Request-Cost:
      - '0.2281357949999986'
      X-Request-Processor:
      - a01dc81
      X-Session-Id:
      - 0db9fd8f9192c5c2b3e4defe7aaa8750
    body:
      encoding: ASCII-8BIT
      string: '[{"associated_user_id":null,"course_id":40,"course_section_id":935,"created_at":"2015-08-18T13:30:53Z","end_at":null,"id":20504,"limit_privileges_to_course_section":false,"root_account_id":1,"start_at":null,"type":"TeacherEnrollment","updated_at":"2015-08-31T12:48:57Z","user_id":3422,"enrollment_state":"invited","role":"TeacherEnrollment","role_id":4,"last_activity_at":null,"total_activity_time":0,"sis_import_id":null,"sis_source_id":null,"sis_course_id":"9950054","course_integration_id":null,"sis_section_id":null,"section_integration_id":null,"html_url":"https://softservepartnership.instructure.com/courses/40/users/3422","user":{"id":3422,"name":"kungfuteacher@example.com","sortable_name":"kungfuteacher@example.com","short_name":"kungfuteacher@example.com"}},{"associated_user_id":null,"course_id":40,"course_section_id":945,"created_at":"2015-07-30T04:20:43Z","end_at":null,"id":20287,"limit_privileges_to_course_section":false,"root_account_id":1,"start_at":null,"type":"TeacherEnrollment","updated_at":"2015-08-03T08:25:47Z","user_id":3389,"enrollment_state":"active","role":"TeacherEnrollment","role_id":4,"last_activity_at":"2015-08-13T16:18:10Z","total_activity_time":2319,"sis_import_id":null,"sis_source_id":null,"sis_course_id":"9950054","course_integration_id":null,"sis_section_id":null,"section_integration_id":null,"html_url":"https://softservepartnership.instructure.com/courses/40/users/3389","user":{"id":3389,"name":"teacher1","sortable_name":"teacher1","short_name":"teacher1","login_id":"bandrik+teacher1@gmail.com"}},{"associated_user_id":null,"course_id":40,"course_section_id":945,"created_at":"2015-07-30T04:20:43Z","end_at":null,"id":20288,"limit_privileges_to_course_section":false,"root_account_id":1,"start_at":null,"type":"TeacherEnrollment","updated_at":"2015-08-04T12:42:53Z","user_id":3390,"enrollment_state":"active","role":"TeacherEnrollment","role_id":4,"last_activity_at":"2015-08-14T08:16:54Z","total_activity_time":1735,"sis_import_id":null,"sis_source_id":null,"sis_co[...]
