---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40/enrollments?access_token=4240~40Bxj0T7ovfNeNvoB9oLl6k480vIJbAbUA6HvLOit27Rbb74w06HY7zchj179woK&per_page=10000&type=TeacherEnrollment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"84560233b431c10ac5870b8bbc51160a"'
      Link:
      - <https://softservepartnership.test.instructure.com/api/v1/courses/40/enrollments?type=TeacherEnrollment&page=1&per_page=100>;
        rel="current",<https://softservepartnership.test.instructure.com/api/v1/courses/40/enrollments?type=TeacherEnrollment&page=1&per_page=100>;
        rel="first",<https://softservepartnership.test.instructure.com/api/v1/courses/40/enrollments?type=TeacherEnrollment&page=1&per_page=100>;
        rel="last"
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000051;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1b;o=enrollments_api;n=index;t=Course;i=40;b=1046316;m=1046316;u=0.36;y=0.02;d=0.06;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - 202b2620-e74f-4478-9f57-91c6891b3e89
      X-Request-Cost:
      - '0.42444470299989995'
      X-Request-Processor:
      - a023c27
      X-Session-Id:
      - 013353599b5b0982ee610d2932fef71d
    body:
      encoding: ASCII-8BIT
      string: '[{"associated_user_id":null,"course_id":40,"course_section_id":935,"created_at":"2015-07-30T14:04:47Z","end_at":null,"id":20293,"limit_privileges_to_course_section":false,"root_account_id":1,"start_at":null,"type":"TeacherEnrollment","updated_at":"2015-07-30T14:14:28Z","user_id":3395,"enrollment_state":"active","role":"Coach","role_id":9,"last_activity_at":"2015-07-30T14:14:29Z","total_activity_time":0,"sis_import_id":null,"sis_course_id":"9950054","course_integration_id":null,"sis_section_id":null,"section_integration_id":null,"html_url":"https://softservepartnership.test.instructure.com/courses/40/users/3395","user":{"id":3395,"name":"andreikaif@gmail.com","sortable_name":"andreikaif@gmail.com","short_name":"andreikaif@gmail.com","sis_user_id":"123asd","integration_id":null,"sis_login_id":"andreikaif@gmail.com","sis_import_id":null,"login_id":"andreikaif@gmail.com"}},{"associated_user_id":null,"course_id":40,"course_section_id":945,"created_at":"2015-07-30T04:20:43Z","end_at":null,"id":20287,"limit_privileges_to_course_section":false,"root_account_id":1,"start_at":null,"type":"TeacherEnrollment","updated_at":"2015-08-03T08:25:47Z","user_id":3389,"enrollment_state":"active","role":"TeacherEnrollment","role_id":4,"last_activity_at":"2015-08-07T12:24:51Z","total_activity_time":2073,"sis_import_id":null,"sis_course_id":"9950054","course_[...]
