---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40/modules?access_token=zhFiPxnVg728KKFpDHs4UEJvuqDooEQIeBBsEjR6mX5rQRGlSJv9vTIrKjj2KYuf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"bf69e9be809460f52c215c9b9584a6ea"'
      Link:
      - <https://softservepartnership.test.instructure.com/api/v1/courses/40/modules?page=1&per_page=10>;
        rel="current",<https://softservepartnership.test.instructure.com/api/v1/courses/40/modules?page=1&per_page=10>;
        rel="first",<https://softservepartnership.test.instructure.com/api/v1/courses/40/modules?page=1&per_page=10>;
        rel="last"
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000041;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1c;o=context_modules_api;n=index;t=Course;i=40;b=847932;m=847932;u=0.34;y=0.01;d=0.18;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - 9d2d4ef4-dd52-4de8-908a-2feed4a457fc
      X-Request-Cost:
      - '0.5177856820000033'
      X-Request-Processor:
      - a023d96
      X-Session-Id:
      - 13f88bae179bb2b3d32f996550b1b71c
    body:
      encoding: ASCII-8BIT
      string: '[{"id":42,"name":"Introduction","position":1,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"published":false,"items_count":1,"items_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/modules/42/items"},{"id":9,"name":"Module
        1","position":2,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"published":true,"items_count":3,"items_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/modules/9/items"},{"id":10,"name":"Module
        2","position":3,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"published":true,"items_count":4,"items_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/modules/10/items"},{"id":11,"name":"Module
        3","position":4,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"published":true,"items_count":1,"items_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/modules/11/items"},{"id":43,"name":"qc
        modul","position":5,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"published":false,"items_count":0,"items_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/modules/43/items"}]'
  recorded_at: Thu, 16 Jul 2015 22:37:31 GMT
recorded_with: VCR 2.9.3
