---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40/modules?access_token=4240~40Bxj0T7ovfNeNvoB9oLl6k480vIJbAbUA6HvLOit27Rbb74w06HY7zchj179woK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3cedf7a69dc7f383b064b6c953f842a7"'
      Link:
      - <https://softservepartnership.test.instructure.com/api/v1/courses/40/modules?page=1&per_page=10>;
        rel="current",<https://softservepartnership.test.instructure.com/api/v1/courses/40/modules?page=1&per_page=10>;
        rel="first",<https://softservepartnership.test.instructure.com/api/v1/courses/40/modules?page=1&per_page=10>;
        rel="last"
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000051;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1b;o=context_modules_api;n=index;t=Course;i=40;b=980780;m=980780;u=0.18;y=0.01;d=0.05;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - a3b86e6c-48fa-4413-8ccc-e4d219eab28b
      X-Request-Cost:
      - '0.23304031999995'
      X-Request-Processor:
      - a023c27
      X-Session-Id:
      - 0d275d1631ff4d62e507fd31ee12ff7d
    body:
      encoding: ASCII-8BIT
      string: '[{"id":9,"name":"Module 1","position":1,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"state":"completed","completed_at":"2015-07-28T12:08:41Z","published":true,"items_count":4,"items_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/modules/9/items"},{"id":10,"name":"Module
        2","position":2,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"state":"completed","completed_at":"2015-07-28T12:08:41Z","published":true,"items_count":1,"items_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/modules/10/items"},{"id":11,"name":"Module
        3","position":3,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"state":"completed","completed_at":"2015-07-28T12:08:41Z","published":true,"items_count":0,"items_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/modules/11/items"},{"id":14,"name":"AB
        Test Module 1","position":4,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"state":"completed","completed_at":"2015-07-30T06:02:16Z","published":true,"items_count":3,"items_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/modules/14/items"}]'
  recorded_at: Tue, 11 Aug 2015 12:39:55 GMT
recorded_with: VCR 2.9.3
