---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40/modules?access_token=zhFiPxnVg728KKFpDHs4UEJvuqDooEQIeBBsEjR6mX5rQRGlSJv9vTIrKjj2KYuf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7eb40f421fe4eb858bb869f73a8e4bea"'
      Link:
      - <https://softservepartnership.test.instructure.com/api/v1/courses/40/modules?page=1&per_page=10>;
        rel="current",<https://softservepartnership.test.instructure.com/api/v1/courses/40/modules?page=1&per_page=10>;
        rel="first",<https://softservepartnership.test.instructure.com/api/v1/courses/40/modules?page=1&per_page=10>;
        rel="last"
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000041;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1c;o=context_modules_api;n=index;t=Course;i=40;b=981900;m=981900;u=0.20;y=0.00;d=0.07;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - fa36487d-f45e-4103-b489-176e5976981a
      X-Request-Cost:
      - '0.2657663099999318'
      X-Request-Processor:
      - a023d96
      X-Session-Id:
      - deaeb371145f96b86526e29ea40ce661
    body:
      encoding: ASCII-8BIT
      string: '[{"id":9,"name":"Module 1","position":1,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"published":true,"items_count":3,"items_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/modules/9/items"},{"id":10,"name":"Module
        2","position":2,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"published":true,"items_count":4,"items_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/modules/10/items"},{"id":11,"name":"Module
        3","position":3,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"published":true,"items_count":1,"items_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/modules/11/items"}]'
  recorded_at: Wed, 08 Jul 2015 13:39:41 GMT
recorded_with: VCR 2.9.3
