---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.instructure.com/api/v1/courses/943/modules?access_token=4240~JdXebCtElIBHsTtITdcIZ4JSD6l6i9MlOej8CY288w88GbREWIdg4XI74m4UrlrP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6ed6c74e4c20a2d2b22c0773750b6e31"'
      Link:
      - <https://softservepartnership.instructure.com/api/v1/courses/943/modules?page=1&per_page=10>;
        rel="current",<https://softservepartnership.instructure.com/api/v1/courses/943/modules?page=1&per_page=10>;
        rel="first",<https://softservepartnership.instructure.com/api/v1/courses/943/modules?page=1&per_page=10>;
        rel="last"
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000046;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1c;o=context_modules_api;n=index;t=Course;i=943;b=801144;m=801144;u=0.40;y=0.02;d=0.19;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - f317e4c1-7517-47b2-9f98-dbddb2c16f9b
      X-Request-Cost:
      - '0.591341319'
      X-Request-Processor:
      - a01d395
      X-Session-Id:
      - e86aa5ad3c748d08c38509e4e961337b
    body:
      encoding: ASCII-8BIT
      string: '[{"id":20,"name":"Present Module","position":1,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"published":true,"items_count":3,"items_url":"https://softservepartnership.instructure.com/api/v1/courses/943/modules/20/items"},{"id":21,"name":"Present
        Module 2","position":2,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"published":false,"items_count":0,"items_url":"https://softservepartnership.instructure.com/api/v1/courses/943/modules/21/items"}]'
  recorded_at: Thu, 10 Sep 2015 15:30:20 GMT
recorded_with: VCR 2.9.3
