---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40/sections?access_token=4240~40Bxj0T7ovfNeNvoB9oLl6k480vIJbAbUA6HvLOit27Rbb74w06HY7zchj179woK&per_page=10000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"af21314421c0cbbe09bf94a39899a528"'
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000051;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1b;o=sections;n=index;t=Course;i=40;b=980904;m=980904;u=0.23;y=0.01;d=0.05;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - 1d847056-06c1-46cd-9fdc-64f64bc1057a
      X-Request-Cost:
      - '0.2809027300000182'
      X-Request-Processor:
      - a023c27
      X-Session-Id:
      - b008ea1da15216c1cd58952021f5a81a
    body:
      encoding: ASCII-8BIT
      string: '[{"course_id":40,"end_at":null,"id":935,"name":"9950054111","nonxlist_course_id":null,"start_at":null,"sis_section_id":null,"sis_course_id":"9950054","integration_id":null,"sis_import_id":null},{"course_id":40,"end_at":null,"id":936,"name":"9950054222","nonxlist_course_id":null,"start_at":null,"sis_section_id":null,"sis_course_id":"9950054","integration_id":null,"sis_import_id":null},{"course_id":40,"end_at":null,"id":944,"name":"test
        default","nonxlist_course_id":null,"start_at":null,"sis_section_id":null,"sis_course_id":"9950054","integration_id":null,"sis_import_id":null},{"course_id":40,"end_at":null,"id":945,"name":"Test
        Section 1","nonxlist_course_id":null,"[...]
