---
http_interactions:
- request:
    method: put
    uri: https://softservepartnership.test.instructure.com/api/v1/sections/936?access_token=4240~40Bxj0T7ovfNeNvoB9oLl6k480vIJbAbUA6HvLOit27Rbb74w06HY7zchj179woK&course_section%5Bend_at%5D=2015-09-03%2021:00:00%20UTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      Www-Authenticate:
      - Bearer realm="canvas-lms"
      X-Canvas-Meta:
      - b=985000;m=985000;u=0.23;y=0.01;d=0.02;
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - fbcc0b77-958f-4ebe-89e1-58945a99f4ca
      X-Request-Cost:
      - '0.2548520030000182'
      X-Request-Processor:
      - a023c27
    body:
      encoding: ASCII-8BIT
      string: '{"course_id":40,"end_at": "2015-09-03 21:00:00 UTC","id":935,"name":"9950054111","nonxlist_course_id":null,"start_at":null,"sis_section_id":null,
      "sis_course_id":"9950054","integration_id":null,"sis_import_id":null}'
  recorded_at: Mon, 31 Aug 2015 13:39:00 GMT
recorded_with: VCR 2.9.3
