---
http_interactions:
- request:
    method: put
    uri: https://softservepartnership.instructure.com/api/v1/sections/1064?access_token=4240~JdXebCtElIBHsTtITdcIZ4JSD6l6i9MlOej8CY288w88GbREWIdg4XI74m4UrlrP&course_section%5Bend_at%5D=2015-09-13T21:00:00Z
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"064d5ee06060c879998619ab877fc95f"'
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000046;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1c;o=sections;n=update;t=CourseSection;i=1064;b=1114636;m=1114636;u=0.07;y=0.00;d=0.16;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - b6a6a290-0630-4cda-b5eb-41d44caf5ca6
      X-Request-Cost:
      - '0.22547843199999318'
      X-Request-Processor:
      - a01d488
      X-Session-Id:
      - baec886eaad77173a45dcb58e562b6c5
    body:
      encoding: ASCII-8BIT
      string: '{"course_id":991,"end_at":"2015-09-13T21:00:00Z","id":1064,"name":"Course
        for Section","nonxlist_course_id":null,"start_at":null,"sis_section_id":null,"sis_course_id":null,"integration_id":null,"sis_import_id":null}'
  recorded_at: Thu, 10 Sep 2015 15:23:09 GMT
recorded_with: VCR 2.9.3
