---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40/sections?access_token=zhFiPxnVg728KKFpDHs4UEJvuqDooEQIeBBsEjR6mX5rQRGlSJv9vTIrKjj2KYuf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"34abe4996f86f988f07774e11ade3791"'
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000041;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1c;o=sections;n=index;t=Course;i=40;b=847932;m=847932;u=0.20;y=0.02;d=0.09;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - 31400708-ae79-4628-9411-2187715824c5
      X-Request-Cost:
      - '0.28685252400001704'
      X-Request-Processor:
      - a023d96
      X-Session-Id:
      - d04565b446a728834aee90cb13509ce4
    body:
      encoding: ASCII-8BIT
      string: '[{"course_id":40,"end_at":"2015-06-19T06:00:00Z","id":935,"name":"9950054111","nonxlist_course_id":null,"start_at":"2015-06-01T06:00:00Z","sis_section_id":null,"sis_course_id":"9950054","integration_id":null,"sis_import_id":null},{"course_id":40,"end_at":"2015-06-25T06:00:00Z","id":936,"name":"9950054222","nonxlist_course_id":null,"start_at":"2015-06-22T06:00:00Z","sis_section_id":null,"sis_course_id":"9950054","integration_id":null,"sis_import_id":null},{"course_id":40,"end_at":null,"id":1371,"name":"Spring
        2016","nonxlist_course_id":null,"start_at":null,"sis_section_id":null,"sis_course_id":"9950054","integration_id":null,"sis_import_id":null}]'
  recorded_at: Thu, 16 Jul 2015 22:37:32 GMT
recorded_with: VCR 2.9.3
