---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.instructure.com/api/v1/courses/943/sections?access_token=4240~JdXebCtElIBHsTtITdcIZ4JSD6l6i9MlOej8CY288w88GbREWIdg4XI74m4UrlrP&page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5abe8b489fe3d00016608e488ab89b54"'
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000046;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1e;o=sections;n=index;t=Course;i=943;b=1202312;m=1202312;u=0.07;y=0.00;d=0.04;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - 34d4c83f-710f-4bd9-a258-f24e0ad0d0ea
      X-Request-Cost:
      - '0.11184993300005003'
      X-Request-Processor:
      - a01d815
      X-Session-Id:
      - 9aec95850891b1e9fc154a2640ad57d3
    body:
      encoding: ASCII-8BIT
      string: '[{"course_id":943,"end_at":null,"id":972,"name":"Presentation Course","nonxlist_course_id":null,"start_at":null,"sis_section_id":null,"sis_course_id":null,"integration_id":null,"sis_import_id":null},{"course_id":943,"end_at":null,"id":973,"name":"Student
        group 1","nonxlist_course_id":null,"start_at":null,"sis_section_id":null,"sis_course_id":null,"integration_id":null,"sis_import_id":null},{"course_id":943,"end_at":null,"id":974,"name":"Student
        group 2","nonxlist_course_id":null,"start_at":null,"sis_section_id":null,"sis_course_id":null,"integration_id":null,"sis_import_id":null}]'
  recorded_at: Thu, 10 Sep 2015 15:46:41 GMT
recorded_with: VCR 2.9.3
