---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40/modules?access_token=4240~40Bxj0T7ovfNeNvoB9oLl6k480vIJbAbUA6HvLOit27Rbb74w06HY7zchj179woK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3cedf7a69dc7f383b064b6c953f842a7"'
      Link:
      - <https://softservepartnership.test.instructure.com/api/v1/courses/40/modules?page=1&per_page=10>;
        rel="current",<https://softservepartnership.test.instructure.com/api/v1/courses/40/modules?page=1&per_page=10>;
        rel="first",<https://softservepartnership.test.instructure.com/api/v1/courses/40/modules?page=1&per_page=10>;
        rel="last"
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000051;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1c;o=context_modules_api;n=index;t=Course;i=40;b=980704;m=980704;u=0.20;y=0.01;d=0.13;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - 5d507c04-56cb-48ec-a88b-80128ab54919
      X-Request-Cost:
      - '0.3332875019999318'
      X-Request-Processor:
      - a023dbc
      X-Session-Id:
      - 86e0167c40c240b6c23614e3ae36f8d3
    body:
      encoding: ASCII-8BIT
      string: '[{"id":9,"name":"Module 1","position":1,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"state":"completed","completed_at":"2015-07-28T12:08:41Z","published":true,"items_count":4,"items_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/modules/9/items"},{"id":10,"name":"Module
        2","position":2,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"state":"completed","completed_at":"2015-07-28T12:08:41Z","published":true,"items_count":1,"items_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/modules/10/items"},{"id":11,"name":"Module
        3","position":3,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"state":"completed","completed_at":"2015-07-28T12:08:41Z","published":true,"items_count":0,"items_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/modules/11/items"},{"id":14,"name":"AB
        Test Module 1","position":4,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"state":"completed","completed_at":"2015-07-30T06:02:16Z","published":true,"items_count":3,"items_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/modules/14/items"}]'
  recorded_at: Tue, 11 Aug 2015 12:39:57 GMT
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40/modules/14/items?access_token=4240~40Bxj0T7ovfNeNvoB9oLl6k480vIJbAbUA6HvLOit27Rbb74w06HY7zchj179woK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"10dedd000a7480c66c685e586f18330c"'
      Link:
      - <https://softservepartn[...]
[...]
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40/assignments/30?access_token=4240~40Bxj0T7ovfNeNvoB9oLl6k480vIJbAbUA6HvLOit27Rbb74w06HY7zchj179woK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6ef4775f2eabf4ea43e93b31c2d58a50"'
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000051;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1b;o=assignments_api;n=show;t=Course;i=40;b=915244;m=915244;u=0.31;y=0.02;d=0.08;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '601.439545040249'
      X-Request-Context-Id:
      - f6ec050c-72be-46a2-a08e-d4f4267ea7f2
      X-Request-Cost:
      - '0.38650166500000227'
      X-Request-Processor:
      - a023c27
      X-Session-Id:
      - e8edc0eb89acf75f8b17fc473e234473
    body:
      encoding: ASCII-8BIT
      string: '{"anonymous_peer_reviews":null,"assignment_group_id":16,"automatic_peer_reviews":false,"created_at":"2015-07-30T06:01:19Z","description":null,"due_at":"2015-08-23T05:59:59Z","grade_group_students_individually":null,"grading_standard_id":null,"grading_type":"points","group_category_id":null,"id":30,"lock_at":null,"peer_reviews":false,"points_possible":50,"position":9,"post_to_sis":null,"unlock_at":null,"updated_at":"2015-08-07T15:07:40Z","course_id":40,"name":"Test
        Assigment 2","submission_types":["none"],"has_submitted_submissions":false,"muted":false,"html_url":"https://softservepartnership.test.instructure.com/courses/40/assignments/30","has_overrides":true,"needs_grading_count":0,"integration_id":null,"integration_data":{},"published":true,"unpublishable":true,"only_visible_to_overrides":false,"locked_for_user":false,"submissions_download_url":"https://softservepartnership.test.instructure.com/courses/40/assignments/30/submissions?zip=1"}'
  recorded_at: Tue, 11 Aug 2015 12:39:59 GMT
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40/quizzes/13?access_token=4240~40Bxj0T7ovfNeNvoB9oLl6k480vIJbAbUA6HvLOit27Rbb74w06HY7zchj179woK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"cf932d2714f04e83cf0ea250a81e9625"'
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000051;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1b;o=quizzes/quizzes_api;n=show;t=Course;i=40;b=846616;m=846616;u=0.38;y=0.02;d=0.09;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '618.81668394308'
      X-Request-Context-Id:
      - 50f02e52-3e67-49dd-a36f-a4013874fb9a
      X-Request-Cost:
      - '0.47426743299999896'
      X-Request-Processor:
      - a023c27
      X-Session-Id:
      - d57eeae091776c9890658e0c48d30066
    body:
      encoding: ASCII-8BIT
      string: '{"id":13,"title":"Unnamed Quiz","html_url":"https://softservepartnership.test.instructure.com/courses/40/quizzes/13","mobile_url":"https://softservepartnership.test.instructure.com/courses/40/quizzes/13?force_user=1\u0026persist_headless=1","description":"","quiz_type":"assignment","time_limit":null,"shuffle_answers":false,"show_correct_answers":true,"scoring_policy":"keep_highest","allowed_attempts":1,"one_question_at_a_time":false,"question_count":0,"points_possible":null,"cant_go_back":false,"access_code":null,"ip_filter":null,"due_at":"2015-07-25T05:59:00Z","lock_at":null,"unlock_at":null,"published":false,"unpublishable":true,"locked_for_user":false,"hide_results":null,"show_correct_answers_at":null,"hide_correct_answers_at":null,"all_dates":[{"due_at":"2015-07-25T05:59:00Z","unlock_at":null,"lock_at":null,"base":true}],"can_unpublish":true,"can_update":true,"require_lockdown_browser":null,"require_lockdown_browser_for_results":null,"require_lockdown_browser_monitor":null,"lockdown_browser_monitor_data":null,"speed_grader_url":null,"permissions":{"read_statistics":true,"manage":true,"read":true,"update":true,"delete":true,"create":true,"submit":true,"grade":true,"review_grades":true,"view_answer_audits":true},"quiz_reports_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/quizzes/13/reports","quiz_statistics_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/quizzes/13/statistics","message_students_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/quizzes/13/submission_users/message","section_count":9,"quiz_submission_versions_html_url":"https://softservepartnership.test.instructure.com/courses/40/quizzes/13/submission_versions","assignment_id":22,"one_time_results":false,"only_visible_to_overrides":false,"assignment_group_id":16,"show_correct_answers_last_attempt":false,"version_number":2,"question_types":[],"has_access_code":false}'
  recorded_at: Tue, 11 Aug 2015 12:39:59 GMT
[...]
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40/assignments/30/overrides?access_token=4240~40Bxj0T7ovfNeNvoB9oLl6k480vIJbAbUA6HvLOit27Rbb74w06HY7zchj179woK&per_page=10000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"dd61ad639de90c3512fcb2f93b2ee348"'
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000051;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1c;o=assignment_overrides;n=index;b=980704;m=980704;u=0.24;y=0.01;d=0.10;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '644.394203921718'
      X-Request-Context-Id:
      - 9e6233ff-5541-4b68-be17-2af6f4686652
      X-Request-Cost:
      - '0.33759698300000907'
      X-Request-Processor:
      - a023dbc
      X-Session-Id:
      - eb8fceeec8a061eefe8dc3fc169cf956
    body:
      encoding: ASCII-8BIT
      string: '[{"all_day":true,"all_day_date":"2015-08-18","assignment_id":30,"due_at":"2015-08-19T05:59:59Z","id":62,"title":"Olya
        Bratkovska","student_ids":[3371]},{"all_day":true,"all_day_date":"2015-08-17","assignment_id":30,"due_at":"2015-08-18T05:59:59Z","id":66,"title":"Maryna
        Kupriyanchuk","student_ids":[3336]},{"all_day":true,"all_day_date":"2015-08-22","assignment_id":30,"due_at":"2015-08-23T05:59:59Z","id":73,"title":"Student6","student_ids":[3384]},{"all_day":true,"all_day_date":"2015-08-18","assignment_id":30,"due_at":"2015-08-19T05:59:59Z","id":82,"title":"divanov@softserveinc.com","student_ids":[2]},{"all_day":true,"all_day_date":"2015-08-22","assignment_id":30,"due_at":"2015-08-23T05:59:59Z","id":92,"title":"Student7","student_ids":[3385]}]'
  recorded_at: Tue, 11 Aug 2015 12:40:00 GMT
[...]
