---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40/modules?access_token=zhFiPxnVg728KKFpDHs4UEJvuqDooEQIeBBsEjR6mX5rQRGlSJv9vTIrKjj2KYuf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"bf69e9be809460f52c215c9b9584a6ea"'
      Link:
      - <https://softservepartnership.test.instructure.com/api/v1/courses/40/modules?page=1&per_page=10>;
        rel="current",<https://softservepartnership.test.instructure.com/api/v1/courses/40/modules?page=1&per_page=10>;
        rel="first",<https://softservepartnership.test.instructure.com/api/v1/courses/40/modules?page=1&per_page=10>;
        rel="last"
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000041;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1c;o=context_modules_api;n=index;t=Course;i=40;b=916508;m=916508;u=0.30;y=0.01;d=0.10;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - 671e7cd3-a0b9-4430-a87b-4ac2467a1eb5
      X-Request-Cost:
      - '0.3994376030000682'
      X-Request-Processor:
      - a023d96
      X-Session-Id:
      - 537e12c67acce0e685732e76b9d428d9
    body:
      encoding: ASCII-8BIT
      string: '[{"id":42,"name":"Introduction","position":1,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"published":false,"items_count":1,"items_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/modules/42/items"},{"id":9,"name":"Module
        1","position":2,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"published":true,"items_count":3,"items_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/modules/9/items"},{"id":10,"name":"Module
        2","position":3,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"published":true,"items_count":4,"items_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/modules/10/items"},{"id":11,"name":"Module
        3","position":4,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"published":true,"items_count":1,"items_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/modules/11/items"},{"id":43,"name":"qc
        modul","position":5,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"published":false,"items_count":0,"items_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/modules/43/items"}]'
  recorded_at: Thu, 16 Jul 2015 22:37:34 GMT
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40/modules/11/items?access_token=zhFiPxnVg728KKFpDHs4UEJvuqDooEQIeBBsEjR6mX5rQRGlSJv9vTIrKjj2KYuf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2d2dfc5867fe44f5843c1509d3e833eb"'
      Link:
      - <https://softservepartnershi[...]
[...]
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40/quizzes/38?access_token=zhFiPxnVg728KKFpDHs4UEJvuqDooEQIeBBsEjR6mX5rQRGlSJv9vTIrKjj2KYuf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8688e10675ef645ac47307bbe556b7a1"'
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000041;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1b;o=quizzes/quizzes_api;n=show;t=Course;i=40;b=916624;m=916624;u=0.36;y=0.03;d=0.13;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '648.27880379557'
      X-Request-Context-Id:
      - 19ddad1e-8b70-41e0-8362-38c2a2b1b49d
      X-Request-Cost:
      - '0.4873597919999994'
      X-Request-Processor:
      - a023c36
      X-Session-Id:
      - eb52f19c8f7c33a6aa69cb087a350482
    body:
      encoding: ASCII-8BIT
      string: '{"id":38,"title":"example","html_url":"https://softservepartnership.test.instructure.com/courses/40/quizzes/38","mobile_url":"https://softservepartnership.test.instructure.com/courses/40/quizzes/38?force_user=1\u0026persist_headless=1","description":"","quiz_type":"assignment","time_limit":null,"shuffle_answers":false,"show_correct_answers":true,"scoring_policy":"keep_highest","allowed_attempts":1,"one_question_at_a_time":false,"question_count":1,"points_possible":1,"cant_go_back":false,"access_code":null,"ip_filter":null,"due_at":"2015-07-17T05:59:00Z","lock_at":null,"unlock_at":null,"published":true,"unpublishable":false,"locked_for_user":false,"hide_results":null,"show_correct_answers_at":null,"hide_correct_answers_at":null,"can_unpublish":false,"can_update":true,"require_lockdown_browser":null,"require_lockdown_browser_for_results":null,"require_lockdown_browser_monitor":null,"lockdown_browser_monitor_data":null,"speed_grader_url":"https://softservepartnership.test.instructure.com/courses/40/gradebook/speed_grader?assignment_id=48","permissions":{"read_statistics":true,"manage":true,"read":true,"update":true,"delete":true,"create":true,"submit":true,"grade":true,"review_grades":true,"view_answer_audits":true},"quiz_reports_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/quizzes/38/reports","quiz_statistics_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/quizzes/38/statistics","message_students_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/quizzes/38/submission_users/message","section_count":3,"quiz_submission_versions_html_url":"https://softservepartnership.test.instructure.com/courses/40/quizzes/38/submission_versions","assignment_id":48,"one_time_results":false,"assignment_group_id":16,"show_correct_answers_last_attempt":false,"version_number":9,"question_types":["multiple_choice_question"],"has_access_code":false}'
  recorded_at: Thu, 16 Jul 2015 22:37:36 GMT
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40/assignments/54?access_token=zhFiPxnVg728KKFpDHs4UEJvuqDooEQIeBBsEjR6mX5rQRGlSJv9vTIrKjj2KYuf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2b4a2a373b0b3aae4b8ab11bf94e2050"'
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000041;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1c;o=assignments_api;n=show;t=Course;i=40;b=847880;m=847880;u=0.39;y=0.01;d=0.19;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '667.742408915602'
      X-Request-Context-Id:
      - f77dbb6b-0fd9-4534-ae42-0e749365f183
      X-Request-Cost:
      - '0.5762405850000005'
      X-Request-Processor:
      - a023d96
      X-Session-Id:
      - 5693532dca437542d7eab5467f544a11
    body:
      encoding: ASCII-8BIT
      string: '{"anonymous_peer_reviews":null,"assignment_group_id":16,"automatic_peer_reviews":false,"created_at":"2015-07-14T18:53:12Z","description":null,"due_at":"2015-07-18T05:59:59Z","grade_group_students_individually":null,"grading_standard_id":null,"grading_type":"points","group_category_id":null,"id":54,"lock_at":null,"peer_reviews":false,"points_possible":100,"position":8,"post_to_sis":null,"unlock_at":null,"updated_at":"2015-07-15T10:51:46Z","course_id":40,"name":"Seminar
        # 1","submission_types":["none"],"has_submitted_submissions":false,"muted":false,"html_url":"https://softservepartnership.test.instructure.com/courses/40/assignments/54","has_overrides":false,"needs_grading_count":0,"integration_id":null,"integration_data":{},"published":true,"unpublishable":true,"locked_for_user":false,"submissions_download_url":"https://softservepartnership.test.instructure.com/courses/40/assignments/54/submissions?zip=1"}'
  recorded_at: Thu, 16 Jul 2015 22:37:37 GMT
[...]
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40/assignments/38/overrides?access_token=zhFiPxnVg728KKFpDHs4UEJvuqDooEQIeBBsEjR6mX5rQRGlSJv9vTIrKjj2KYuf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Canvas-Meta:
      - at=42400000000000041;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1b;b=918624;m=918624;u=0.24;y=0.03;d=0.06;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '690.4980960241822'
      X-Request-Context-Id:
      - d420c106-39a3-4ca8-b680-4197697b8797
      X-Request-Cost:
      - '0.30304847000000906'
      X-Request-Processor:
      - a023c36
      X-Session-Id:
      - 00ffda1d85d6c9a235356646408468e9
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"The specified resource does not exist."}],"error_report_id":376}'
  recorded_at: Thu, 16 Jul 2015 22:37:37 GMT
[...]
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40/assignments/10/overrides?access_token=zhFiPxnVg728KKFpDHs4UEJvuqDooEQIeBBsEjR6mX5rQRGlSJv9vTIrKjj2KYuf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"aff798e24b4dbb485ff99bcc5ffd75a9"'
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000041;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1b;o=assignment_overrides;n=index;b=918624;m=918624;u=0.24;y=0.02;d=0.05;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '690.0327911531173'
      X-Request-Context-Id:
      - b75dde69-f222-4774-a10d-5d7bc6377091
      X-Request-Cost:
      - '0.2940187300000091'
      X-Request-Processor:
      - a023c36
      X-Session-Id:
      - 788942f54ed0fb6858e71d917dc2e372
    body:
      encoding: ASCII-8BIT
      string: '[{"all_day":true,"all_day_date":"2015-06-26","assignment_id":10,"due_at":"2015-06-27T05:59:00Z","id":8,"lock_at":null,"title":"Andriy
        Hunyak","unlock_at":null,"student_ids":[3334]}]'
  recorded_at: Thu, 16 Jul 2015 22:37:38 GMT
[...]
