---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40/modules?access_token=zhFiPxnVg728KKFpDHs4UEJvuqDooEQIeBBsEjR6mX5rQRGlSJv9vTIrKjj2KYuf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7eb40f421fe4eb858bb869f73a8e4bea"'
      Link:
      - <https://softservepartnership.test.instructure.com/api/v1/courses/40/modules?page=1&per_page=10>;
        rel="current",<https://softservepartnership.test.instructure.com/api/v1/courses/40/modules?page=1&per_page=10>;
        rel="first",<https://softservepartnership.test.instructure.com/api/v1/courses/40/modules?page=1&per_page=10>;
        rel="last"
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000041;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1c;o=context_modules_api;n=index;t=Course;i=40;b=981900;m=981900;u=0.21;y=0.01;d=0.06;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - 84c9b762-e28b-48e6-a7fe-61bca259dc6a
      X-Request-Cost:
      - '0.27030631100000796'
      X-Request-Processor:
      - a023d96
      X-Session-Id:
      - ea6a900878dad9948f7cfdd1b0114592
    body:
      encoding: ASCII-8BIT
      string: '[{"id":9,"name":"Module 1","position":1,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"published":true,"items_count":3,"items_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/modules/9/items"},{"id":10,"name":"Module
        2","position":2,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"published":true,"items_count":4,"items_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/modules/10/items"},{"id":11,"name":"Module
        3","position":3,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"published":true,"items_count":1,"items_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/modules/11/items"}]'
  recorded_at: Wed, 08 Jul 2015 15:25:06 GMT
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40/modules/11/items?access_token=zhFiPxnVg728KKFpDHs4UEJvuqDooEQIeBBsEjR6mX5rQRGlSJv9vTIrKjj2KYuf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2d2dfc5867fe44f5843c1509d3e833eb"'
      Link:
      - <https://softservepartnershi[...]
[...]
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40/discussion_topics/36?access_token=zhFiPxnVg728KKFpDHs4UEJvuqDooEQIeBBsEjR6mX5rQRGlSJv9vTIrKjj2KYuf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f3be895628a940a39323ce5772dcf6a2"'
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000041;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1b;o=discussion_topics_api;n=show;t=Course;i=40;b=984156;m=984156;u=0.23;y=0.01;d=0.06;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '645.229915287056'
      X-Request-Context-Id:
      - 2fcf6787-dd6e-4af3-99cf-a07f7c2dc8b0
      X-Request-Cost:
      - '0.29473433300001817'
      X-Request-Processor:
      - a023c36
      X-Session-Id:
      - 4f1d46ea66b77db921f43e23b4dd6bdc
    body:
      encoding: ASCII-8BIT
      string: '{"allow_rating":false,"assignment_id":null,"delayed_post_at":"2015-07-09T21:00:00Z","discussion_type":"side_comment","id":36,"last_reply_at":"2015-07-08T10:51:10Z","lock_at":"2015-07-16T21:00:00Z","only_graders_can_rate":false,"podcast_has_student_posts":false,"position":null,"posted_at":"2015-07-08T10:51:10Z","root_topic_id":null,"sort_by_rating":false,"title":"Test
        discussion","user_name":"divanov@softserveinc.com","discussion_subentry_count":0,"permissions":{"attach":true,"update":true,"delete":true},"message":"\u003Cp\u003EDescription
        of the test discussion\u003C/p\u003E","require_initial_post":null,"user_can_see_posts":true,"podcast_url":null,"read_state":"read","unread_count":0,"subscribed":true,"topic_children":[],"attachments":[],"published":false,"can_unpublish":true,"locked":false,"can_lock":true,"author":{"id":2,"display_name":"divanov@softserveinc.com","avatar_image_url":"https://secure.gravatar.com/avatar/003f3ecc6fcd3322d3d147402a40e61e?s=50\u0026d=https%3A%2F%2Fcanvas.instructure.com%2Fimages%2Fmessages%2Favatar-50.png","html_url":"https://softservepartnership.test.instructure.com/courses/40/users/2"},"html_url":"https://softservepartnership.test.instructure.com/courses/40/discussion_topics/36","url":"https://softservepartnership.test.instructure.com/courses/40/discussion_topics/36","pinned":false,"group_category_id":null,"can_group":true,"locked_for_user":false}'
  recorded_at: Wed, 08 Jul 2015 15:25:08 GMT
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40/quizzes/38?access_token=zhFiPxnVg728KKFpDHs4UEJvuqDooEQIeBBsEjR6mX5rQRGlSJv9vTIrKjj2KYuf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"64e2c736ed37ad9ef624db0ee979eb89"'
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000041;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1c;o=quizzes/quizzes_api;n=show;t=Course;i=40;b=981900;m=981900;u=0.28;y=0.02;d=0.18;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '665.138951744033'
      X-Request-Context-Id:
      - 4e8f51e2-8f57-4532-a9be-82a880873b04
      X-Request-Cost:
      - '0.46400755700000107'
      X-Request-Processor:
      - a023d96
      X-Session-Id:
      - 30b2777768688bc608ad28f85fe71b66
    body:
      encoding: ASCII-8BIT
      string: '{"id":38,"title":"example","html_url":"https://softservepartnership.test.instructure.com/courses/40/quizzes/38","mobile_url":"https://softservepartnership.test.instructure.com/courses/40/quizzes/38?force_user=1\u0026persist_headless=1","description":null,"quiz_type":"assignment","time_limit":null,"shuffle_answers":false,"show_correct_answers":true,"scoring_policy":"keep_highest","allowed_attempts":1,"one_question_at_a_time":false,"question_count":0,"points_possible":0,"cant_go_back":false,"access_code":null,"ip_filter":null,"due_at":"2015-07-09T05:59:59Z","lock_at":null,"unlock_at":null,"published":true,"unpublishable":false,"locked_for_user":false,"hide_results":null,"show_correct_answers_at":null,"hide_correct_answers_at":null,"all_dates":[{"due_at":"2015-07-09T05:59:59Z","unlock_at":null,"lock_at":null,"base":true}],"can_unpublish":false,"can_update":true,"require_lockdown_browser":null,"require_lockdown_browser_for_results":null,"require_lockdown_browser_monitor":null,"lockdown_browser_monitor_data":null,"speed_grader_url":"https://softservepartnership.test.instructure.com/courses/40/gradebook/speed_grader?assignment_id=48","permissions":{"read_statistics":true,"manage":true,"read":true,"update":true,"delete":true,"create":true,"submit":true,"grade":true,"review_grades":true,"view_answer_audits":true},"quiz_reports_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/quizzes/38/reports","quiz_statistics_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/quizzes/38/statistics","message_students_url":"https://softservepartnership.test.instructure.com/api/v1/courses/40/quizzes/38/submission_users/message","section_count":3,"quiz_submission_versions_html_url":"https://softservepartnership.test.instructure.com/courses/40/quizzes/38/submission_versions","assignment_id":48,"one_time_results":null,"assignment_group_id":16,"show_correct_answers_last_attempt":false,"version_number":5,"question_types":[],"has_access_code":false}'
  recorded_at: Wed, 08 Jul 2015 15:25:08 GMT
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/courses/40/assignments/10?access_token=zhFiPxnVg728KKFpDHs4UEJvuqDooEQIeBBsEjR6mX5rQRGlSJv9vTIrKjj2KYuf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"91606d6fde7ead84d3b3e1b48d5b8878"'
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000041;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1b;o=assignments_api;n=show;t=Course;i=40;b=984156;m=984156;u=0.39;y=0.06;d=0.08;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '682.325975478415'
      X-Request-Context-Id:
      - 74ce746b-3c5f-471b-be4f-65ee5b35fb64
      X-Request-Cost:
      - '0.4704374320000006'
      X-Request-Processor:
      - a023c36
      X-Session-Id:
      - bb0cc6e8f4119328ab2a43e76e1ebe78
    body:
      encoding: ASCII-8BIT
      string: '{"anonymous_peer_reviews":false,"assignment_group_id":20,"automatic_peer_reviews":false,"created_at":"2015-06-18T10:49:34Z","description":"","due_at":null,"grade_group_students_individually":false,"grading_standard_id":null,"grading_type":"percent","group_category_id":null,"id":10,"lock_at":null,"peer_reviews":false,"points_possible":100,"position":1,"post_to_sis":null,"unlock_at":null,"updated_at":"2015-06-23T14:27:39Z","course_id":40,"name":"Assignment
        3 for AHunyak","submission_types":["online_url"],"has_submitted_submissions":false,"muted":false,"html_url":"https://softservepartnership.test.instructure.com/courses/40/assignments/10","has_overrides":true,"needs_grading_count":0,"integration_id":null,"integration_data":{},"published":true,"unpublishable":true,"locked_for_user":false,"submissions_download_url":"https://softservepartnership.test.instructure.com/courses/40/assignments/10/submissions?zip=1"}'
  recorded_at: Wed, 08 Jul 2015 15:25:08 GMT
[...]
