---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/sections/936/assignments/7/submissions?access_token=4240~40Bxj0T7ovfNeNvoB9oLl6k480vIJbAbUA6HvLOit27Rbb74w06HY7zchj179woK&per_page=10000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0e0125411f3095eb7334ee159fe25560"'
      Link:
      - <https://softservepartnership.test.instructure.com/api/v1/courses/40/assignments/7/submissions?page=1&per_page=100>;
        rel="current",<https://softservepartnership.test.instructure.com/api/v1/courses/40/assignments/7/submissions?page=1&per_page=100>;
        rel="first",<https://softservepartnership.test.instructure.com/api/v1/courses/40/assignments/7/submissions?page=1&per_page=100>;
        rel="last"
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000051;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1b;o=submissions_api;n=index;t=Course;i=40;b=980780;m=980780;u=0.15;y=0.00;d=0.03;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - 9597a2b2-caf8-48a3-b1e4-805d874a1e58
      X-Request-Cost:
      - '0.17633987399997725'
      X-Request-Processor:
      - a023c27
      X-Session-Id:
      - 8f49b1672594f566d02457cd169aabfc
    body:
      encoding: ASCII-8BIT
      string: '[{"assignment_id":7,"attempt":null,"body":null,"excused":null,"grade":null,"grade_matches_current_submission":null,"graded_at":null,"grader_id":null,"id":29,"score":null,"submission_type":null,"submitted_at":null,"url":null,"user_id":3371,"workflow_state":"unsubmitted","late":false,"preview_url":"https://softservepartnership.test.instructure.com/courses/40/assignments/7/submissions/3371?preview=1\u0026version=0"}]'
  recorded_at: Tue, 11 Aug 2015 12:40:05 GMT
recorded_with: VCR 2.9.3
