---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.test.instructure.com/api/v1/sections/936/assignments/7/submissions?access_token=zhFiPxnVg728KKFpDHs4UEJvuqDooEQIeBBsEjR6mX5rQRGlSJv9vTIrKjj2KYuf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f4bea63d6e79ed48ddc5cd507065a089"'
      Link:
      - <https://softservepartnership.test.instructure.com/api/v1/courses/40/enrollments?page=1&per_page=10>;
        rel="current",<https://softservepartnership.test.instructure.com/api/v1/courses/40/enrollments?page=1&per_page=10>;
        rel="first",<https://softservepartnership.test.instructure.com/api/v1/courses/40/enrollments?page=1&per_page=10>;
        rel="last"
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000041;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1c;o=enrollments_api;n=index;t=Course;i=40;b=982044;m=982044;u=0.28;y=0.01;d=0.08;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - 2652078c-d04c-44a2-ade5-01fd005adfe8
      X-Request-Cost:
      - '0.3599961820002001'
      X-Request-Processor:
      - a023d96
      X-Session-Id:
      - 73d0b63fb1f5cde12bc6ad00cff98141
    body:
      encoding: ASCII-8BIT
      string: '[{"assignment_id":7,"attempt":null,"body":null,"excused":null,"grade":null,"grade_matches_current_submission":null,"graded_at":null,"grader_id":null,"id":29,"score":null,
                "submission_type":null,"submitted_at":null,"url":null,"user_id":3371,"workflow_state":"unsubmitted","late":false,
                "preview_url":"https://softservepartnership.instructure.com/courses/40/assignments/7/submissions/3371?preview=1\u0026version=0"},{"assignment_id":7,"attempt":null,
                "body":null,"excused":false,"grade":"60%","grade_matches_current_submission":true,"graded_at":"2015-07-07T12:33:09Z","grader_id":2,"id":8,"score":3,"submission_type":null,
                "submitted_at":null,"url":null,"user_id":3334,"workflow_state":"graded","late":false,"preview_url":"https://softservepartnership.instructure.com/courses/40/assignments/7/submissions/3334?preview=1\u0026version=3"}]'
  recorded_at: Thu, 16 Jul 2015 22:37:43 GMT
recorded_with: VCR 2.9.3
