---
http_interactions:
- request:
    method: get
    uri: https://softservepartnership.instructure.com/api/v1/sections/973/assignments/67/submissions?access_token=4240~JdXebCtElIBHsTtITdcIZ4JSD6l6i9MlOej8CY288w88GbREWIdg4XI74m4UrlrP&page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8d7034ad0c65b73bf00aded9de24c45f"'
      Link:
      - <https://softservepartnership.instructure.com/api/v1/courses/943/assignments/67/submissions?page=1&per_page=100>;
        rel="current",<https://softservepartnership.instructure.com/api/v1/courses/943/assignments/67/submissions?page=1&per_page=100>;
        rel="first",<https://softservepartnership.instructure.com/api/v1/courses/943/assignments/67/submissions?page=1&per_page=100>;
        rel="last"
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=42400000000000046;dk=170000000000016;a=1;g=0TwsOgwvINdaPhg55CEOoZ8bSqS15XUt4B7T0mkp;s=4240;c=cluster35;z=us-east-1e;o=submissions_api;n=index;t=Course;i=943;b=1131500;m=1131500;u=0.08;y=0.00;d=0.06;
      X-Canvas-User-Id:
      - '42400000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - 871df0e3-0c8b-4159-8c6d-e05021800a85
      X-Request-Cost:
      - '0.1430256119999841'
      X-Request-Processor:
      - a01d8fa
      X-Session-Id:
      - b831d1706c9251d3449135159c42f6d8
    body:
      encoding: ASCII-8BIT
      string: '[{"assignment_id":67,"attempt":1,"body":"\u003Cp\u003E\u0446\u0446\u0456\u003C/p\u003E","excused":false,"grade":"95","grade_matches_current_submission":true,"graded_at":"2015-08-19T11:22:58Z","grader_id":3389,"id":720,"score":95,"submission_type":"online_text_entry","submitted_at":"2015-08-19T10:59:22Z","url":null,"user_id":3379,"workflow_state":"graded","late":false,"preview_url":"https://softservepartnership.instructure.com/courses/943/assignments/67/submissions/3379?preview=1\u0026version=2"},{"assignment_id":67,"attempt":1,"body":"\u003Cp\u003E\u0432\u0432\u003C/p\u003E","excused":false,"grade":"22","grade_matches_current_submission":true,"graded_at":"2015-08-19T11:23:05Z","grader_id":3389,"id":723,"score":22,"submission_type":"online_text_entry","submitted_at":"2015-08-19T11:01:17Z","url":null,"user_id":3385,"workflow_state":"graded","late":false,"preview_url":"https://softservepartnership.instructure.com/courses/943/assignments/67/submissions/3385?preview=1\u0026version=1"}]'
  recorded_at: Thu, 10 Sep 2015 16:05:03 GMT
recorded_with: VCR 2.9.3
